
@{
    ViewBag.Title = "About";
}

<h2>Як цим користуватись?</h2>
<p>На головній сторінці є два поля: пріоритет і код.</p>
<p>Вводите пріоритет який знаходиться в межах від 0 до 100</p>
<p>Потім вводите js код, який власне повинен виконуватись, час виконання залежить від пріоритету який ви йому надасте</p>

