@{
    ViewBag.Title = "Main";
}
<style>
    textarea {
        width:600px;
        max-width:600px;
        height: 400px;
        font-size: 0.5em;
        font-weight: bold;
        font-family: Verdana, Arial, Helvetica, sans-serif;
        border: 1px solid black;
        margin-bottom:10px;
    }
    #priority {
        font-size:0.8em;
    }
    p{
        font-size:0.8em;
    }
</style>
<div class="jumbotron">
    <p class="lead">Spase Тechnology 8 scheduler</p>
    <p>Пріоритет (від 0 до 100)</p>
    <p><input type="number" name="priority" id="priority" min="0" max="100"></p>
    <p>JavaScript код</p>
    <textarea id="editor"></textarea>
    <p><a onclick="send()" class="btn btn-primary btn-lg">Додати на виконання</a></p>
</div>
<script>
    function send() {

        $.ajax({
            url: '@Url.Action("AddTask", "Scheduler")' + '?code=' + encodeURIComponent($("#editor")[0].value) + '&priority=' + $("#priority")[0].value,
            success: function (data) {
                $('#container').html(data);
            }
        });
    }
</script>